@import url('https://fonts.googleapis.com/css?family=Roboto');

$font-stack: 		'Roboto', sans-serif;
$font-size-default: 12pt;
$font-size-small: 	8pt;

$color-active: 		White;
$color-inactive: 	Gray;
$color-text: 		Black;
$color-form-back: 	transparent;
$color-main-back: 	DeepSkyBlue;
$color-input-back-focus: #EEEEEE;

//Design: Google Material Colors
//Background: 200
//Text: 600

//Error
$color-background-error: #EF9A9A;
$color-text-error: #E53935;
//Success
$color-background-success: #A5D6A7;
$color-text-success: #43A047;
//Warning
$color-background-warning: #FFF59D;
$color-text-warning: #FDD835;

$border-width: 0px;
$border-width-underline: 0 0 1 0;
$border-width-active: $border-width + 0px;
$border-width-underline-active: $border-width-underline;

$padding-control: 10px;

.noSelect{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

@mixin box-shadow($vars){
	-webkit-box-shadow: $vars;
	-moz-box-shadow: $vars;
	box-shadow: $vars;
}

@mixin border-radius($vars){
	border-radius: $vars;
	-moz-border-radius: $vars;
	-webkit-border-radius: $vars;
}

.control {
	width: 100%;
	margin: 0;
	border: $border-width $color-inactive solid;
	font-family: $font-stack;
	font-size: $font-size-default;
	padding: $padding-control;

	&:focus{
		outline: none;
		border: $border-width-active $color-active solid;
	}
}
//===================================================================================
//Alert Messages
//===================================================================================
//	Used like: 
//		@include alertMessage("error");
//	Valid types: 
//		success, error, warning
//===================================================================================
.alert {
	width: 100%;
	border-radius: 5px;
	text-align: left;
	padding-left: 20px;
	color: black;
	background-color: white;
}

%alert-Error{
	border: 1px solid $color-text-error;
	border-left: 2em solid $color-text-error;
	&::before{
		color: $color-text-error;
	}
}

%alert-Success{
	border: 1px solid $color-text-success;
	border-left: 2em solid $color-text-success;
	&::before{
		color: $color-text-success;
	}
}

%alert-Warning{
	border: 1px solid $color-text-warning;
	border-left: 2em solid $color-text-warning;
	&::before{
		color: $color-text-warning;
	}
}

@mixin alertMessage($type){
	@extend .alert;
	@extend %alert-#{$type};

	&::before{
		display: block;
		font-weight: bold;
		content: "#{$type}!";
		margin: 0px 10px 10px -10px;
	}
}