@import 'globals';

html, body{
	height: 100%;
	background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/images/bgLogin.jpg);
	background-position: center bottom;
	background-size: cover;
}
body{
	background-color: black;
	font-size: 12pt;
	font-family: $font-stack;
	margin: 0px;
	padding-bottom: 20px;
}

h3, h1{
	padding: 0;
	margin: 0;
	color: $color-active;
	display: inline-block;
//    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

h1 {
	font-size: 30pt;
}

form{
	border: 0px solid $color-inactive;
	border-radius: 5px;
	background-color: $color-form-back;

	input{
		@extend .control;

		&[type="text"], &[type="password"]{
			background-color: transparent;
			padding: 14px;

			&:focus {
				background-color: $color-input-back-focus;
			}
		}
		
		&[type="submit"], &[type="button"]{
			background-color: $color-active;
			color: black;
			box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
			transition: all 0.3s cubic-bezier(.25,.8,.25,1);
			border-radius: 5px;

			&:hover{
				color: Black;
				background-color: $color-input-back-focus;
			}

			&:active{
				box-shadow: none;
			}
		}
	}
}

hr {
	margin: 0;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-webkit-margin-start: auto;
	-webkit-margin-end: auto;
	margin-bottom: -1px;
}

@media (min-width: 768px){
	.login {
		position: absolute;
		top: 25%;
		z-index: 2;
	}

	.loginSection{
	  height: 100%;
	}
}

.loginSection{
  padding: 0px;
  text-align: center;
}

.center{
	text-align: center;
}

.errorMessage{
	@include alertMessage("Error");
}

.successMessage{
	@include alertMessage("Success");
}

.loginWrapper {
	box-shadow: inset 0 1px 3px rgba(0,0,0,0.12), inset 0 1px 2px rgba(0,0,0,0.24);
	background-color: white;
	border-radius: 5px;
	padding: 1px;

	& > div {
		padding: 0;

		& > input {
			&[type="text"]{
				@include border-radius(5px 5px 0px 0px);
				margin-bottom: 0px;
			} 

			&[type="password"]{
				@include border-radius(0px 0px 5px 5px);
			}
		}
	}
}

.loginForm{
	background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
	border-radius: 5px;
}