$mediaSmall: "(min-width: 576px)";
$mediaMedium: "(min-width: 768px)";
$mediaLarge: "(min-width: 992px)";
$mediaXLarge: "(min-width: 1200px)";

* {
    box-sizing: border-box;
}

[class*="col-"] {
    float: left;
    padding: 15px;
	position: relative;
}

$numCols: 12;
@import 'gridUtil';
$numCols: 7;
@import 'gridUtil';